
{% comment %}
 variables that need to be declared
    id -- the id for the dialog
    startPath -- the path that the dialog starts at
    callback -- a calback function which takes an array of paths to fits files return when the dialog is successfully terminated
{% endcomment %}
<script type="text/javascript">
    $(function(){
        $("#{{id}}").dialog({
            autoOpen: false,
            height: 500,
            width: 500,
            modal: true,
            title: "Choose a FITS file",
            buttons : {
                "Open": function() {
                    var contents = $("#{{id}} iframe").contents();
                    var result = []; //initialize as empty array
                    contents.find(".ui-selected").each(function() {
                        result.push($(this).attr("data-path"));
                    });
                    {{callback}}(result); //call the callback with the result
                    $(this).dialog("close");
                },
                Cancel: function() {
                    $(this).dialog("close");
                },
            }
        });
        
    });
</script>


<div id="{{id}}"> 
    <iframe src="/files/chooseFrame/{{startPath}}" class="frameChooser" style="width:100%; height:90%">
    </iframe>
</div>

