# swap and backup files
.*.swp
.*.swo
.*~

#the pyraf directory
redrovor/pyraf/*

#compiled files
*.pyc
*/*.pyc
*.pyo

logfile   #ignore the logfile
*.log     #ignore other logfiles
*/*.log

*.sqlite

#ignore build directory
/build/
#ignore static files
/rovorweb/static/
#ignore the production settings
/rovorweb/rovorweb/settings.production.py


