# swap and backup files
.*.swp
.*.swo
.*~

#the pyraf directory
redrovor/pyraf/*

#compiled files
*.pyc
*/*.pyc

logfile   #ignore the logfile
*.log     #ignore other logfiles
*/*.log

#ignore build directory
./build
#ignore static files
./rovorweb/static


