# swap and backup files
.*.swp
.*.swo
.*~

#the pyraf directory
pyraf/

#compiled files
*.pyc
*/*.pyc
*.pyo

logfile   #ignore the logfile
*.log     #ignore other logfiles
*/*.log

*.sqlite

*.orig
*~

#ignore build directory
/build/
#ignore static files and media files
/rovorweb/static/*
/rovorweb/media/*
#ignore the production settings
/rovorweb/rovorweb/settings.production.py



