{% extends 'base.html' %}
{% load FSforms %}
{% load staticfiles %}

{% block header %}

<script type="text/javascript" src="{% static "jquery.blockUI.js" %}"></script>
<script type="text/javascript" src="{% static "dirmanage/BrowserWindow.js" %}"></script>
<script type="text/javascript">
    $(function(){
        $(document).ajaxStop($.unblockUI);

        $("#folderInput").change(function(){
            pathBrowser.setPath($(this).val());
        });
    });


    function sendRequest(target){
        $.blockUI({message:"<h1>Processing...</h1>"});
        $.post('/reduce/'+target,$('#zdForm').serialize(),
            function(data){
                if( data.ok ){
                    alert("Success!");
                } else {
                    alert("Error: "+data.error);
                }
            }).fail(function(xhr,stat,error){
                alert('Error: '+stat +" , "+error);
                });
    }

</script>

<link rel="stylesheet" type="text/css" href="{% static "dirmanage/BrowserWindow.css" %}" />
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<h1>Zero and Dark Reduction</h1>
{% twoFrameBrowse 'pbrowser' 'Raw/' 'pathBrowser' %}    
<script type="text/javascript">
$(function(){
    pathBrowser.pathUpdated(function(path){
        $("#folderInput").val(path);
    });
});
</script>
<form id="zdForm" onkeypress="return event.keyCode != 13"> <!-- disable enter submitting form (or doing anything else for that matter, temp fix only-->
    {% csrf_token %}
    <table>
    <tr><td><label>Folder to Process:</label><td><input name="path" id="folderInput" type="text" value="" autocomplet="off" /></td></tr>
    <tr><td><input type="button" value="Rename files" onclick="sendRequest('renameAll')" /></td>
    <td><input type="button" value="Do First Pass" onclick="sendRequest('firstPass')" /></td>
    </tr>
    <tr><td><input type="button" value="Make master Zero" onclick="sendRequest('makeZero')"</td></tr>
    <tr><td><input type="button" value="Make master Dark" onclick="sendRequest('makeDark')" /> </td></tr>
    <tr><td><input type="button" value="Make master Flats" onclick="sendRequest('makeFlats')" /> </td></tr>
    <tr><td><input type="button" value="Subtract Zeros and Darks" onclick="sendRequest('subZeroDark')" /> </td></tr>
</form>

{% endblock %}
