{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
<style type="text/css">
    table {
        padding: 10px;
    }
    td,th {
        padding: 9px;
    }
</style>
<script type="text/javascript" src="{% static 'util.js' %}"></script>
<script type="text/javascript">
$(function (){
    $("#target_select").change(populate);
    populate.call($("#target_select"));
    $("#addObjectForm").submit(addManual);
    $("#addTargetButton").click(addTarget);
    $("#uploadForm").submit(uploadCoords);
});

/**
* function to populate the table
*/
function populate(){
    var target_id = $(this).val();
    var body = $("#content_body");
    body.empty();
    if( ! target_id ){
        return;
    }
    $.getJSON(target_id+'/coordlist',{},function(data){
        for( var i=0, l=data.length; i !== l; ++i){
            addRow(body, data[i]);
        }
    });
}

function addRow(tbody, obj){
    var deleteButton = $("<input type='button' value='delete' />");
    deleteButton.click(function(){ deleteCoords.call(this,obj.id); });
    var row = $("<tr>").append(
        "<td>"+obj.id+"</td>").append(
        "<td><input type='text' value='"+obj.ra+"' readonly /></td>").append(
        "<td><input type='text' value='"+obj.dec+"' readonly /></td>");
    if( obj.isTarget){
        row.append("<td>yes</td>");
    } else {
        row.append("<td>no</td>");
    }
    row.append($("<td>").append(deleteButton));
    tbody.append(row);
}

function deleteCoords(id){
    var row = $(this).closest("tr");
    $.ajax('fieldobject/'+id+'/delete',{
        method: 'POST',
        headers: {'X-CSRFToken':getCookie('csrftoken')}
    }).done(function(){
        row.remove();
    });
}

function addManual(ev){
    ev.preventDefault();
    var form = $(this);
    var data = form.serializeArray();
    data.push({'name':'target', 'value':$("#target_select").val()});
    $.ajax('fieldobject/add',{
        method: 'POST',
        data: data,
    }).done(function(res){
        if(res.ok){
            addRow($("#content_body"),res.result);
            $("#newObj input:text").val("");
        } else {
            {#TODO do something more elegant here #}
            alert(JSON.stringify(res.error))
        }
    }).fail(function(xhr, tstatus, err){
        alert(tstatus+": "+err);
    });
}

function addTarget(){
    $.ajax('fieldobject/addTarget',{
        method: 'POST',
        data: $('#target_select').serialize(),
        headers: {'X-CSRFToken':getCookie('csrftoken')},
    }).done(function(res){
        if(res.ok){
            addRow($("#content_body"),res.result);
        } else {
            alert(res.error);
        }
    }).fail(function(xhr, tstatus, err){
        alert(tstatus+": "+err);
    });
}

function uploadCoords(ev){
    ev.preventDefault();
    //note that the way we handle the file will only work on modern browsers
    var data = new FormData(this);
    $.ajax({
        url: $("#target_select").val()+"/uploadCoordFile",
        data: data,
        contentType: false,
        processData: false,
        type: 'POST',
    }).done(function(res){
        if( res.ok){
            res.result.forEach(addRow.bind(null,$("#content_body")));
        } else {
            alert(res.error);
        }
    });
}
</script>
{% endblock %}

{% block content %}
<h1>Coordinates for objects in target fields</h1>
<p><label for="target_select">Target Field:</label>
<select name="target" id="target_select">
<option value="" selected="selected">--------------</option>
{% for target in targets %}
<option value="{{target.id}}">{{target.name}}</option>
{% endfor %}
</select>
<p>
<input type="button" value="Add Target" id="addTargetButton" />
</p>
<p>
 <form id="uploadForm" enctype="multipart/form-data">
{% csrf_token %}
<input type="file" name="coords"  accept="text/*" />
<input type="submit" value="Upload" />
</form>
</p>

<table>
<thead>
<tr>
<th>ID</th>
<th>Right Ascension</th>
<th>Declination</th>
<th>Target?</th>
</tr>
</thead>
<tbody id="content_body">
</tbody>
<tbody id="newObj">
<tr>
<form method="POST" id="addObjectForm">
<td>{% csrf_token %}</td> {# empty cell where id would go #}
<td>{{addForm.ra}}</td>
<td>{{addForm.dec}}</td>
<td>{{addForm.isTarget}}</td>
<td><input type="submit" value="add" /></td>
</form>
</tr>
</tbody>
</table>
{% endblock %}
