{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Edit Targets{% endblock title %}

{% block header %}
<script type="text/javascript" src="{%static 'util.js'%}"></script>
<script type="text/javascript">
$(function(){
    $("#syncButton").click(function(){
        $.ajax({
            url: '/targets/synchronize',
            type: 'POST',
            data: {},
            headers: {'X-CSRFToken':getCookie('csrftoken')},
            crossDomain: false,
        }).done(function(data){
            if(data.ok){
                window.location.reload(True);
            } else {
                alert("something went wrong");
            }
        });
    });
});
</script>
{% endblock %}

{% block content %}
<h1>Targets</h1>
<p>
<input type="button" value="Synchronize with rovor.byu.edu" id="syncButton" />
<em>Warning:</em> This will take a very long time!
<form method="post" action="">
    {% csrf_token %}
    {{formset.management_form }}
    <table>
    <thead><tr>
    <th>Name</th>
    <th>Right Ascension</th>
    <th>Declination</th>
    <th>Delete</th>
    </tr></thead>
    {% for form in formset %}
        <tr class="{% cycle row1,row2 %}">
            {% for field in form.visible_fields %}
            <td>
                {% if forloop.first %}
                    {# include hidden fields #}
                    {% for hidden in form.hidden_fields %}
                    {{hidden}}
                    {% endfor %}
                {% endif %}
                {{field.errors.as_ul}}
                {{field}}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Save" />
</form>
{% endblock %}
