{% extends 'dirmanage/twoFrameBrowser.html' %}
{% load FSforms %}

{% comment %}
This is a template which allows the user to select a folder to do processing on.
It's required paramater is start_path which is the virtual filesystem url to start the browser at
{% endcomment %}

{% block headerext %}
<script type="text/javascript">
function updateBrowserPath(){
    pathBrowser.setPath($(this).val());
}
</script>
{% endblock %}


{% block content %}

<h1>Select a folder to Process</h1>
{% if error %}
<p class="error">{{error}}</p>
{% endif %}
<form id="pathForm" method="POST">
{% csrf_token %}
<input type="text" name="path" id="pathInput" />
<input type="submit" value="Select Folder" />
</form>
{% twoFrameBrowse 'path-browser' start_path 'pathBrowser' %}
<script type="text/javascript">
    $(function(){
        pathBrowser.pathUpdated(function(path){
            $("#pathInput").val(path);
        });

        $("#pathInput").change(updateBrowserPath).keypress(function(e){
            //trap the user pressing enter
            if( e.which == 13){
                e.preventDefault();
                updateBrowserPath.apply(this);
            }
        });
    });
</script>

{% endblock %}
