{% extends 'base.html' %}
{% load FSforms %}
{% load staticfiles %}

{% block title %}
Select Flat Frames
{% endblock %}

{% block header %}
<script type="text/javascript" src="{% static 'util.js' %}"></script>
<script type="text/javascript">
    $(function(){
        $("#flatForm input.browseButton").click(function(){
            flatDialog.open(selectFlat.bind($(this)));
        });

        $("#flatForm").submit(function(e){
            e.preventDefault();
        });

        $("#flatApplyButton").click(function(){
            var request = {'path': $(this).find("#path_input").val()};
            var flats = {}
            $(this).find('input[type="text"]').each(function(index){
                flats[$(this).attr("name")] = $(this).val();
            });
            request['flats'] = JSON.stringify(flats);
            $.ajax('/reduce/applyFlats',{
                crossDomain: false,
                data:request,
                headers: {"X-CSRFToken": getCookie("csrftoken")},
                type: 'POST',
            }).done(function(data){
                if(data.ok){
                    alert("Success!");
                }else{
                    alert(data.error);
                }
            }).fail(function(xhr,stat,error){
                alert(stat + ":" + error);
            });
            
        });

        $("#astrometryButton").click(function(){
            $.ajax('/reduce/applyWCS',{
                crossDomain: false,
                data: {'path':'{{path}}'},
                headers: {"X-CSRFToken":getCookie("csrftoken")},
                type: 'POST',
            });
            alert("WCS request sent\nThe processing will be done asynchronously, since it could take a very long time, look in the WCS subdirectory to confirm success");
        });

        $("#secondPassButton").click(function(){
            $.ajax('/reduce/secondpass',{
                crossDomain:false,
                data: {'path':'{{path}}'},
                headers: {'X-CSRFToken':getCookie("csrftoken")},
                type: 'POST',
            });
            alert("started second pass\ndon't wait up for it");
        });
    });

    function selectFlat(path){
        $(this.attr("data-textselector")).val(path);
    }
</script>
{% endblock %}

{% block content %}
    <h1>Select Flat Frames to use</h1>
<form id="flatForm">
    <input type="hidden" name="path" id="path_input" value="{{path}}" />
{% for filt in improc.neededFilters %}
    <p>{{filt}} Flat
    <input type="text" name="{{filt}}" id="flat_{{filt}}"/>
    <input type="button" class="browseButton" value="browse" data-textselector="#flat_{{filt}}"/>
    </p>
{% endfor %}
<p><input type="button" id="flatApplyButton" value="Apply Flats" /></p>
<p><input type="button" id="astrometryButton" value="Apply WCS" /></p>
<p><input type="button" id="secondPassButton" value="Perform Second Pass" /></p>
</form>

{% fileChooserDialog 'flatDialog' 'selectFlat' 'Processed/' %}
{% endblock %}
