{% extends 'base.html' %}
{% load FSforms %}
{% load static %}

{%block header %}
<script type="text/javascript" src="{% static 'dirmanage/BrowserWindow.js' %}">
</script>
<link rel="stylesheet" type="text/css" href="{% static 'dirmanage/BrowserWindow.css' %}" />
{% comment %}

 an extra block that children can use to add stuff to the header 
 alternatively a child could overrid the header block and include a call
 to {{ block.super }}
 {% endcomment %}
{% block headerext %}
{% endblock %}
{% endblock %}

{% block content %}
<h1> Browse Filesystem </h1>
<h2 id="pathTitle"></h2>
{% twoFrameBrowse 'browseTable' %}
{% twoFrameBrowse "secondone" %}
{% endblock %}
