{% extends 'dirmanage/twoFrameBrowser.html' %}
{% load FSforms %}
{% load staticfiles %}

{% block headerext %}
<script type="text/javascript" src="{% static 'util.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery.blockUI.js' %}"></script>

<script type="text/javascript">
    function uploadAll(){
        $.blockUI({ message: '<h1>Processing...</h1>'});
        $.ajax('/odb/process',{
            crossDomain: false,
            data: {'path':mybrowser.getSelectedFolder()},
            headers: {'X-CSRFToken':getCookie('csrftoken')}, //cross domain safety
            type: 'POST', 
            success: function(data){
                $.unblockUI();
                if( data.ok ){
                    alert("Success!");
                } else {
                    alert(data.errtype+": "+data.error);
                }
            },
            error: function(xhr, stat, err){
                $.unblockUI();
                alert(stat+": "+err);
            },
        });
    }



</script>
{% endblock %}

{% block content %}
<h1>Upload Observations to Database</h1>



<section>
    <h2 style="text-align:left;margin-left:20px">Select Folder:</h2>
    
    <p><input type="text" name="path" id="pathInput" size="30"/></p>
    {% twoFrameBrowse 'pathbrowser' '' 'mybrowser'%}
    <script type="text/javascript">
        $(function(){
            mybrowser.pathUpdated(function(path){
                $("#pathInput").val(path);
            });

            $("#pathInput").change(function(){
                mybrowser.setPath($(this).val());
            }).keypress(function(e){
                if(e.which == 13){
                    e.preventDefault();
                    $(this).change();
                }
            });

        });
    </script>
    <p>
    <button style="float:right; font-size:large" onclick="uploadAll()">Upload All Observations</button></p>
</section>

{% endblock %}
